.toolbar{
    background-color: #02141f;
    height: 40px;
    padding-left: 60px;
    display:flex;
    padding-top: 12px;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 1;
}


.li{
  list-style-type: none;
   margin-left: 20px;
   padding-left: 10px;
  padding-right: 10px;
}

.lnr{
  color: #00D231;
  font-size: 1.5rem;
  font-weight: 400;
  padding-right: 10px;
  padding-bottom:  -50px;
}

.fabtoolbar{
    background-color: rgba(10, 28, 43, 0);
    border-radius: 50%;
    color: #fff;
    box-sizing: border-box;
    height: 27px;
    width: 27px;
    font-size: small;
    text-align: center;
    padding-top: 7px;
    border: 1px solid #fff;
    position: absolute;
    overflow: hidden;
}
.fabtoolbar:hover{
    color: black;
    background-color: rgb(32, 253, 3);
    transition: color .33s linear .5s, border-color ease-out .5s, background-color .33s linear 0s;
}
.url{
    height: 30px;
    display: flex;
    margin: auto;
}
.url a{
  color: #fff;
  text-decoration: none;
  font-size: 0.92857rem;
  padding-left: 50px;
  margin-top: 4px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
}
.url li{
    color: #fff;
    list-style: none;
}

.url li:hover{
    color: #21d41b;
}

.url li:hover{
    color: #20b61b;
    transition: all ease-in-out;
}

@media screen and (max-width: 960px) {
 .toolbar{
  display: none;
 }

}